body {
    margin: 0; /* убираем внешний отступ (по бокам) */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    padding: 0; /* убираем отступ слева от списка */
    margin: 0; /* убираем область отпуста сверху, которая образуется из-за списка */
    list-style: none; /* убираем точки */
}

.header li { /* добавили header, чтобы ol в body выравнивался не в одну линию, как меню*/
    display: inline; /* выравниванием меню с одну строку */
    margin-right: 60px; /* отступы между пунктами меню */
}

li:last-child { /* псевдокласс, last child применяется к ul, т.к. li вложен в ul*/
    margin-right: 0;
}

.header { /* обращение не к header, а к классу header */
    color: black;
    padding: 50px 0; /* составное свойство, чтобы не прописывать для 4 сторон отдельно */
    letter-spacing: 2px; /* добавление пробелов между буквами */
    text-transform: uppercase; /* преобразование текста в верхний регистр */
    border-bottom: 3px solid black; /* добавление нижней границы */
    /* font-size: 1em;  размер шрифта относительно родителя, 20 px - обычно стандартно,
    1em - как у родителя, если у всех будет 0.5em, то это бесконечное уменьшение у наследников*/
    background-image: url(/lab1/images/1668834330_3-41.jpg);
    background-size: cover;
}

/* контекстный селектор: */
.main-menu a { /* применяем только к тегам а внутри меню, вложенность не имеет значения*/
    text-decoration: none; /* убираем подчеркивания */
    color: beige; /* цвет ссылок */
    font-weight: bold; /* жирность начертания ссылок*/
}

.containerforhead {
    text-align: center;
    padding-bottom:5px;
    
}
.containerfortext{
    text-align: left;
    padding-left: 15px;

    padding-bottom: 5px;
}
.logo{
    padding-top: 10px;
    padding-left: 15px;
}
.footer{
    background-color: black;
    color:white;
    position: absolute;
    padding: 20px 0;
    margin-top: 20px;
	width: 100%;
	height: 30px;

}
.avatar{
    height: 250px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: center;
}
.avatar img{
    height: 100%;
}
p{
    text-align: center;
}
.btn{
    text-decoration: none;
    color: black;
    border: 2px solid;

    padding: 10px;
    border-radius: 20px;
    transition: color 1s, border-color 1s;
    margin: 20px;
}

.btn:hover{
    color: orange;
    border-color: orange;
}
table{
    border-collapse: collapse;
}
table, th, td{
    border:1px solid black;
}
td,th{
    text-align: center;
    padding: 5px;
}
.w-50{
    width: 50%;
}
.mx_range{
    margin-left: auto;
    margin-right: auto;
}
.white{
    color:white;
}