
       
body {
    margin: 0; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    padding: 0; 
    margin: 0;
    list-style: none; 
}

.header li { 
    display: inline; 
    margin-right: 60px; 
}

li:last-child { 
    margin-right: 0;
}

.header { 
    color: black;
    padding: 50px 0; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    border-bottom: 3px solid black; 
    background-image: url(/lab1/images/1668834330_3-41.jpg);
    background-size: cover;
}

.main-menu a {
    text-decoration: none; 
    color: beige;
    font-family: 'Caveat', serif;

}

.containerforhead {
    text-align: center;
    padding-bottom:5px;
    
}
.containerfortext{
    text-align: left;
    padding-left: 15px;

    padding-bottom: 5px;
}
.logo{
    padding-top: 10px;
    padding-left: 15px;
}
.footer{
    background-color: black;
    color:white;
    position: absolute;
    padding: 20px 0;
    margin-top: 20px;
	width: 100%;
	height: 30px;

}
.avatar{
    height: 250px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: center;
}
.avatar img{
    height: 100%;
}
p{
    text-align: center;
}
.btn{
    text-decoration: none;
    color: black;
    border: 2px solid;

    padding: 10px;
    border-radius: 20px;
    transition: color 1s, border-color 1s;
    margin: 20px;
}

.btn:hover{
    color: orange;
    border-color: orange;
}
table{
    border-collapse: collapse;
}
table, th, td{
    border:1px solid black;
}
td,th{
    text-align: center;
    padding: 5px;
}
.w-50{
    width: 50%;
}
.mx_range{
    margin-left: auto;
    margin-right: auto;
}
.white{
    color:white;
}